body {
    font-family: "Annie Use Your Telescope", cursive;
    font-size: 20px;
    font-weight: 600;
    background-size: cover;
    background-attachment: fixed;
}

i {
    color: rgba(0, 0, 0, 0.582);
}

.list-group-item {
    background-color: #c2c2c230;
    font-size: 1.2em;
}

.change-devoured,
.delete-burger {
    font-size: 0.8em;
    background-color: rgba(95, 158, 160, 0.509);
    border: 1px solid black;
}

.create-form {
    background-color: #c2c2c230;
    font-size: 1.6rem;
}

#burg {
    opacity: 0.5;
}

#addaburger {
    background-color: rgba(95, 158, 160, 0.509);
    border: 1px solid black;
    border-radius: 0;
}