body {
    font-family: cursive;
    font-size: 17px;
    font-weight: 500;
    background-size: cover;
    background-attachment: fixed;
    background-color: blanchedalmond;
}

.list-group-item {
    background-color: aqua;
    font-size: 1.2em;
}

.change-devoured,
.delete-burger {
    font-size: 0.8em;
    background-color: rgb(233, 248, 19);
    border: 1px solid black;
}

.create-form {
    background-color: yellow;
    font-size: 1.5rem;
}

#burg {
    opacity: 0.5;
}

#addaburger {
    background-color: rgba(230, 34, 230, 0.509);
    border: 1px solid black;
    border-radius: 0;
}

#bod {
    background-color: aqua;
}